<div>   
  	 <form action = "/cart" method = "POST" role = "form">
	    <div class = "form-group">
		 <label style="color:darkblue">Your purchased:</label>
			<p><textarea name="cart[purchased]" rows="5" cols="60"  type="text" style="color:black; border-color:white; font-weight:600"><%=@str%></textarea></p>
	    </div>		
		<div class = "form-group">
			<label style="color:darkblue">Total:</label></br>
			  <input name = "cart[total_price]" style="color:black; border-color:white; font-weight:600" value ="<%=@total_sum%>">	
		</div>
		<p><%=@link%></p>
	</form>
   
  </div>
  
 