   <div>
   <input type = "button" class="btn btn-danger btn-sm" value = "Get data from cart !" onclick = "cart_get_orders()"></button>
    <script type="text/javascript">		
			$(':button').click(function(){			
			if(document.myform.orders_id.value.length > 1) {
				 $("#buttonid").val(' CLICK ME ! ');
				 } else {
				 $("#buttonid").val('EMPTY CART ! GO TO SHOP !');
				 }			
			}); 
	</script>
   
   <a href = '/shop' class="btn btn-danger btn-sm" onclick = "clear_cart()">Clear cart !</a></br>
   </br>
    <form name = "myform" action = "/cart/ordercart" method = "POST" role = "form">	
		<input name = "orders_id" style = "color:maroon; font-weight:700; background-color:white; border-color:white" id = "ordersid"></></br>
	    </br>
		<input name = "submitid" type = "submit" class = "btn btn-danger" value = "" id = "buttonid"></button>'
	</form>	
	</div>
